:root{
background-color:rgb(135, 206, 235);
}
article p:first-child{
color:#fff;
background-color:#000;
}
article p:nth-child(2){
color:#000;
}
article p:last-child{
color:red;
}
ul li{
background-color:gray;
width:50%;
padding:10px;
}
ul li:nth-child(odd){
background-color:#fff;
}
ul li:first-child,
ul li:last-child{
font-size:22px;
}
ul li:nth-last-child(3){
background-color:pink;
}
